*:focus {
  outline: none !important;
}

.fs-12px {
  font-size: 12px !important;
}

.fs-14px {
  font-size: 14px !important;
}

.h-450px {
  height: 450px !important;
}

.h-250px {
  height: 250px !important;
}

.user-img {
  height: 21px;
  width: 21px;
}
